body {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    background: lightseagreen;
}
header {
    display: inline-block;
}

.header_wrap {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
input {
     margin-top: 20px;
 }
main {
    display: flex;
    width: 35%;
    margin: 0 auto;
}

section {
    width: 70%;
}

aside {
    width: 30%;
}

.cite {
    font-weight: 800%;
    font-size: 28px;
}
    
@media (max-width:1280px) {
    .cite {
    font-weight: 900%;
    font-size: 28px;
    }
}

@media (max-width:1024px) {
    .cite {
        font-weight: 800%;
        font-size: 25px;
    }
} 

@media (max-width:960px) {
    .cite {
        font-weight: 700%;
        font-size: 22px;
    }
}

@media (max-width:640px) {
    .cite {
        font-weight: 600%;
        font-size: 20px;
    }
}

@media (max-width:480px) {
    .cite {
        font-weight: bold;
        font-size: 18px;
    }
}

@media (max-width:320px) {
    .cite {
        font-weight: 400%; 
        font-size: 15px;
    }
}